<%= form_with url: quotes_path(quote), 
  class: "quote form" 
do |f| %>
  <% if quote.errors.any? %>
    <div class="error-message">
      <%= quote.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, autofocus: true %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>